/** margin: 0; padding: 0;*/
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
html,
body,
.container-fluid
  width: 100%;
  height: 100%;
  background: #ffc18e url('/assets/images/robot.png') no-repeat;
  background-size: cover
  -webkit-background-size: cover
  -moz-background-size: cover
  -o-background-size: cover


.container
  display: flex;
  flex-direction: column;

.child
  flex: 1;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

.child1
  /*background-color: red;*/
  height: 33.3%;
.child2
  /*background-color: green;*/
  height: 33.3%;
.child3
  /*background-color: blue;*/
  height: 33.3%;
